*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

body{
    font-family: Monolisa,Consolas, 'Courier New', monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-nav ul {
    display: flex;
    justify-content: end;
}